<link rel="stylesheet" type="text/css" href="/css/index.css" />
<%- include('./partials/header.ejs')%>
<!-- <p>This page displays the details of the application</p> -->
<main>
  <div class="text">
    <h3>Welcome to Cricket-Inn: Your Ultimate Destination for Everything Cricket!</h3>
    <p>Welcome to Cricket-Inn, where passion meets the pitch, and cricket enthusiasts unite to celebrate the greatest game on earth. Step into our virtual arena, where every boundary, every wicket, and every thrilling moment is celebrated with fervor.

      At Cricket-Inn, we're more than just a website; we're a community of cricket aficionados, dedicated to bringing you the latest news, insights, and updates from the world of cricket. Whether you're a die-hard fan or a casual observer, there's something for everyone here.
      
      From match previews and live scores to in-depth analysis and player profiles, Cricket-Inn is your one-stop destination for all things cricket. Join us as we dive into the heart of the game, exploring its rich history, legendary players, and unforgettable moments.
      
      So, grab your bat, lace up your shoes, and join us at Cricket-Inn, where the spirit of cricket lives on!</p>
  </div>
</div>
</main>
<%- include('./partials/footer.ejs')%>