<link rel="stylesheet" type="text/css" href="/css/index.css" />

<%- include('./partials/header.ejs')%>

    <main>
        <section class="contact-info">
            <h2>Contact Us</h2>
        
            <address>
                <p><strong>Address:</strong> 1101 University Terrace Drive North, Charlotte, NC, 28262</p>
                <p><strong>Email:</strong> vkarnam@charlotte.edu</p>
                <p><strong>Phone:</strong> +1 (709) 123-3456</p>
            </address>
        </section>
    </main>




<%- include('./partials/footer.ejs')%>