
<%- include('./partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/index.css" />
    <main>
      <div class="content">
        <div class="images">
          <img src="/images/wpl.png" alt="Image 1" class="image">
          <img src="/images/background.png" alt="Image 2" class="image">
          <img src="/images/champion.png" alt="Image 3" class="image">
          <img src="/images/ipl.png" alt="Image 4" class="image">
          <img src="/images/worldcup.png" alt="Image 5" class="image">
        </div>
        <div class="text">
          <h3>Welcome to Cricket Inn</h3>
          <p>Welcome to our cricket Community! Get ready to immerse yourself in the world of cricket with our comprehensive coverage. From live scores to insightful analysis, we've got you covered. Stay updated on the latest news, match schedules, and player stats. Dive into the excitement of international tournaments and domestic leagues. Explore our interactive features and engage with fellow cricket enthusiasts. Whether you're a seasoned fan or a newcomer to the sport, there's something for everyone here. Join our community and share your passion for cricket. Let's celebrate the spirit of cricket together!</p>
          <p>Book your Ticket now.</p>
        </div>
      </div>
    </main>

<%- include('./partials/footer.ejs')%>
    

